html {
  font-size: 16px;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 64px;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 32px;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  margin-bottom: 24px;
}

button {
  background: purple;
  width: 100%;
  padding: 8px 0;
  color: white;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 0;

}

.navigation {
  align-items: center;
}
nav li {
  list-style: none;
  display: flex;
}

nav li > a {
  color: black;
}

img, video {
  width: 100%;
  height: auto;
}


main {

}

.practice {
  display: none;
}

.banner {
  width: 100%;
  height: 180px;
  background: url('../images/banner.jpg');
  background-size: cover;
}

.banner img {
  display: none;
}

.start-here {
  padding: 32px 16px;
}


.information {
  padding: 16px 16px 32px;
}

.information-text {
  padding: 8px 16px;
}

.information-text h3, .information-text p {
  margin-bottom: 8px;
}

.info-thumb {
  height: 150px;
  overflow: hidden;
}


.featured-courses {
  padding: 32px 16px;
}

.featured-courses h2, .exhibition-featured h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
}

.featured-courses img, .featured-courses .course-info p {
  display: none;
}

.course-info > h3 {
  padding: 16px;
  background: grey;
  margin-bottom: 8px;
}


.recent-exhibits, .exhibit-vid h3, .exhibit-vid p {
  display: none;
}

.exhibition-featured h2 {
  padding: 32px 0;
}




footer > nav {
  display: none;
}

footer {
  padding: 32px 0;
}

.copyright {
  margin-left: 24px;
}
